.form-example {
  display: flex;
  flex-direction: column;
  gap: 16px;

  fieldset {
    border: solid 1px rgb(0 0 0 / 0.1);
    padding: 12px;
    border-radius: 4px;
  }
  label:has(input[type='radio'], input[type='checkbox']) {
    cursor: pointer;
    margin-right: 12px;
    input {
      margin-right: 4px;
    }
  }

  :where(form, form fieldset > *) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  :where(form > *, form fieldset > * > *) {
    display: flex;
    gap: 8px;
  }
  :where(form > *, form fieldset > * > *) > :first-child:not(legend) {
    flex: 0;
    min-width: 120px;
  }
  :where(form > *, form fieldset > * > *) > :last-child {
    flex: 1;
    min-width: 0;
  }
}

[class*='shj-lang-'] {
  font-size: 14px !important;
  line-height: 1.4 !important;
  padding: 0 !important;
}
