@import 'tailwindcss' source('../app');
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
